*{outline: 0; border: 0;}
html{font-size: 100px;}
body{background-color: #eee;}
.mt10{margin-top: .1rem;}
.mt20{margin-top: .2rem;}
.mt30{margin-top: .3rem;}
.mt40{margin-top: .4rem;}
.autoCenter{margin-left: auto; margin-right: auto;}

/* 禁止页面滚动 */
.disabledScroll{height: 100% !important; overflow: hidden !important;}